:root {
    /* Black Shades */
    --black: #151515;
    --black-secondary: #2f2f2f;
    --black-tertiary: #464646;

    /* White Shades */
    --white: #f6f6f4;
    --white-tertiary: #ededed;

    /* Yellow Shades */
    --yellow: #fff824;
    --yellow-secondary: #FFFB8E;
    --yellow-tertiary: #FFFDC7;

    /* Grey Shades */
    --grey-01-primary: #d1d7de;
    /* Lightest Grey */
    --grey-01-secondary: #e0e5ec;
    --grey-01-tertiary: #e9eef3;
    --grey-02-primary: #a5adb6;
    /* Medium Grey */
    --grey-02-secondary: #b2bac3;
    --grey-02-tertiary: #bec5ce;
    --grey-03-primary: #67727e;
    /* Darker Grey */
    --grey-03-secondary: #77818c;
    --grey-03-tertiary: #818c98;

    /* Blue Shades */
    --blue-primary: #3665EA;
    --blue-secondary: #527AEB;

    /* Background */
    background: white;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3";

}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans 3";
    color: var(--black);
    margin: 0;
}

.h1-alt {
    font-family: Lato, sans-serif;
    color: var(--black);
    margin: 0;
    font-weight: 800;
    letter-spacing: -0.8px;
}

/* Typography */
h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1.6px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-weight: 500;
    font-size: 22px;
}

h5 {
    font-weight: 500;
    font-size: 18px;
}

.body-bold {
    font-weight: 700;
    font-size: 16px;
}

.body-regular {
    font-weight: 400;
    font-size: 16px;
}

/* Section Styles */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 16%;
}

.hero {
    margin: 32px 48px;
    padding: 24px 48px 56px 48px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 35px var(--grey-01-tertiary);
}

.stop-span {
    font-weight: 900;
}

.highlight-span {
    position: relative;
    /* Needed for pseudo-element positioning */
    display: inline-block;
    /* Ensure the text wraps normally */
    font-weight: 700;
}

.highlight-span::before {
    content: '';
    /* Creates the background effect */
    position: absolute;
    top: 12px;
    /* Position the highlight relative to the text */
    left: -10px;
    /* Extend slightly beyond the text */
    right: -10px;
    /* Extend slightly beyond the text */
    bottom: 0;
    background: var(--yellow);
    /* Highlight color */
    z-index: -1;
    /* Place behind the text */
    transform: skew(-10deg, -5deg);
    /* Skew diagonally */
    height: 72%;
    /* Make the background taller than the text */
    width: calc(100% + 20px);
    /* Extend background width */
    border-radius: 4px;
    /* Optional: round the edges slightly */
}


.tagline-h1 {
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 50px 20px 0px 20px;
    color: var(--black);
    z-index: 1;
    font-size: 56px;
    letter-spacing: -1.12px;
    line-height: 70px;
    font-size: 56px;
}

.tagline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
}

.tagline-h5 {
    display: block;
    text-align: center;
    z-index: 1;
    margin: 20px 0 20px 0;
    width: 90%;
}

.cta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

.video-container {
    display: flex;
    width: 85%;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.rating {
    margin-top: 50px;
    margin-bottom: 5px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    width: 25%;
}

.avatar {
    margin: 0 0 0 -19px;
}

.avatar-text {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.32px;
}

/* Recognition */

.recognition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 88px 48px 88px 48px;
    box-sizing: border-box;
}

.recognition-h1 {
    color: var(--black);
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.deserves-span {
    color: #000;
    font-family: "Source Sans 3";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.recognition-content {
    display: flex;
    align-items: flex-start;
    /* Align image and text to the top */
    gap: 16px;
    /* Add some spacing between the image and text */
    margin-bottom: 24px;
    /* Add spacing between list items */
}


.recognition-ellipse {
    height: auto;
    flex-shrink: 0;
    /* Prevent the image from shrinking */
}

.recognition-h5 {
    color: var(--black);
    font-family: "Source Sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
}

.recognition-p1 {
    margin-bottom: 56px;
}

.recognition-p {
    color: var(--black);
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0;
}

.recognition-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.recognition-list {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Introducing Section*/

.banner-img {
    display: flex;
    width: 100%; /* Make the width responsive */
    max-width: 1000px; /* Ensure it doesn't get wider than 1000px */
    height: auto; /* Maintain aspect ratio */
    max-height: 416px; /* Limit the height to 416px */
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.introducing {
    margin: 32px 48px;
    padding: 42px 48px 64px 48px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 35px var(--grey-01-tertiary);
    
}

.introducing-h1 {
    color: var(--black);
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.accelerator-span {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.highlight-accelerator{
    position: relative;
    /* Needed for pseudo-element positioning */
    display: inline-block;
    /* Ensure the text wraps normally */
    font-weight: 700;
    z-index: 1;
}

.highlight-accelerator::before {
    content: '';
    /* Creates the background effect */
    position: absolute;
    top: 12px;
    /* Position the highlight relative to the text */
    left: -10px;
    /* Extend slightly beyond the text */
    right: -10px;
    /* Extend slightly beyond the text */
    bottom: 0;
    background: var(--yellow);
    /* Highlight color */
    z-index: -1;
    /* Place behind the text */
    transform: skew(-10deg, -5deg);
    /* Skew diagonally */
    height: 72%;
    /* Make the background taller than the text */
    width: calc(100% + 20px);
    /* Extend background width */
    border-radius: 4px;
    /* Optional: round the edges slightly */
}

.introducing-h3 {
    color: var(--black);
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-bottom: 40px;
}

.introducing-h5 {
    color: var(--black);
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0 40px 0;
    width: 90%
}

.card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: #fff;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.card-header {
    color: var(--black);
    font-family: "source sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin: 0
}

.card-text {
    color: var(--black);
    font-family: "source sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.32px;
    margin: auto;
}

.path-container {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}

.path-h5 {
    color: var(--black);
    font-family: "Source Sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

/* Shared Styles for Both Buttons */
.primary-btn-blue,
.primary-btn-yellow {

    /* Typography */
    font-family: "Source Sans 3";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-wrap: nowrap;
    z-index: 1;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    padding: 16px 40px;

    /* Appearance */
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.mini-btn-blue,
.mini-btn-yellow {

    /* Typography */
    font-family: "Source Sans 3";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-wrap: nowrap;
    z-index: 1;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    padding: 4px 40px;

    /* Appearance */
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

/* Icon Animation */
.primary-btn-yellow img,
.mini-btn-yellow img,
.primary-btn-blue img,
.mini-btn-blue img {
    transition: transform 0.3s ease;
}

.mini-btn-yellow:hover img:last-of-type,
.primary-btn-yellow:hover img:last-of-type,
.mini-btn-blue:hover img:last-of-type,
.primary-btn-blue:hover img:last-of-type {
    transform: translateX(5px);
    /* Move the right icon slightly to the right */
}

/* Specific Button Colors */
.primary-btn-blue,
.mini-btn-blue {
    background-color: var(--blue-primary);
    color: var(--white);
}

.primary-btn-blue:hover,
.mini-btn-blue:hover {
    background-color: var(--blue-secondary);
}

.primary-btn-yellow,
.mini-btn-yellow {
    background-color: var(--yellow);
    color: var(--black);
    box-shadow: 0px 4px 4px var(--grey-01-primary);
}

.primary-btn-yellow:hover,
.mini-btn-yellow:hover {
    background-color: var(--yellow-secondary);
}


/* Accordion */
.faq-title {
    text-align: center;
    margin: 20px;
}

.accordion {
    border: 1px solid var(--grey-01-primary);
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: var(--grey-01-primary) 0px 1px 5px 0px;
}

.accordion-summary {
    background-color: #fff;
    color: var(--black);
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-summary.expanded {
    background-color: var(--grey-01-primary);
}

.accordion-details {
    padding: 20px;
    background-color: #fff;
}

.icon {
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(90deg);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Source Sans 3";
    color: var(--black);
}

/* Media Queries */

/* Mobile */

@media (max-width: 768px) {

    .tagline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0 40px 0;
    width: 90%
}

.tagline-h1 {
    font-size: 40px;
    letter-spacing: -1.12px;
    line-height: 50px;
}

.video-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    width: 100%;
}

.avatar-text {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.32px;
}

.introducing-h1 {
    font-size: 40px;
    letter-spacing: -0.8px;
}

.accelerator-highlight {
    font-weight: 700;

}

.path-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 7px;
    align-self: stretch;
    
}

.logo {
   width: 200px;
}

.primary-btn-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
}

}

.timer-container {
    position: fixed;      /* Fixes the element to the screen */
    bottom: 0;            /* Positions it at the bottom */
    left: 0;              /* Ensures it spans the full width */
    width: 100%;          /* Ensures it takes up the full width */
    margin: 0;            /* Remove margin */
    padding: 10px;        /* Optional: add padding if you want space inside */
    background-color: rgba(0, 0, 0, 0.7); /* Optional: background for visibility */
    color: white;         /* Optional: text color */
    text-align: center;   /* Optional: centers the text */
}