:root {
    /* Colors */
    --black: #151515;
    --black-secondary: #2f2f2f;
    --white: #f6f6f4;
    --yellow: #fff824;
    --yellow-secondary: #DFDA53;
    --grey-1: #d1d7de;
    --grey-2: #a5adb6;
    --grey-3: #67727e;
    --blue-primary: #3665EA;
    --blue-secondary: #527AEB;

    /* Background */
    background: var(--white);
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    color: var(--black);
    margin: 0;
}

/* Typography */
h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1.6px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-weight: 500;
    font-size: 22px;
}

h5 {
    font-weight: 500;
    font-size: 18px;
}

.body-bold {
    font-weight: 700;
    font-size: 16px;
}

.body-regular {
    font-weight: 400;
    font-size: 16px;
}

/* Section Styles */
.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    padding: 20px;
    margin-top: 30px;
}

.tagline {
    font-size: 1.5rem;
    color: var(--black);
    font-family: sans-serif;
    padding: 20px;
}

/* Buttons */
.primary-btn-blue,
.primary-btn-yellow {
    /* Typography */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    text-wrap: nowrap;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    padding: 16px 40px;

    /* Appearance */
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 300ms ease-out;
}

.primary-btn-blue {
    background-color: var(--blue-primary);
    color: var(--white);
}

.primary-btn-blue:hover {
    background-color: var(--blue-secondary);
    
}

.primary-btn-yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.primary-btn-yellow:hover {
    background-color: var(--yellow-secondary);
}

/* Accordion */
.faq-title {
    text-align: center;
    margin: 20px;
}

.accordion {
    border: 1px solid var(--grey-1);
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: var(--grey-1) 0px 1px 5px 0px;
}

.accordion-summary {
    background-color: #fff;
    color: var(--black);
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-summary.expanded {
    background-color: var(--grey-1);
}

.accordion-details {
    padding: 20px;
    background-color: #fff;
}

.icon {
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(90deg);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
    color: var(--black);
}
